.green-button {
    color: white;
    background: green;
    outline: none;
    border: 1px solid green;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5em;
    padding: 0.5em;
}
.green-button:hover {
    background: #03a803;
    border: 1px solid #03a803;
}
