.main {
    margin: 20px auto 50px auto;
    width: 600px; 
    color: gray;  
}
.header, .footer {
    text-align: center;
    background-color: gray;
    height: 30px;
    padding-top: 5px;
}
ul {
    margin: 0;
}
.nav-li {
    display: inline-block;
    margin: 0 10px;
    padding: 0 10px;
    border-radius: 3px;
}
.nav-link {
    color: white;
    margin: auto;
    text-decoration: none;
}
.main-link {
    text-decoration: none;
    display: block;
    color: gray;    
}
.footer {
    color: white;
}